// Обнуление стилей.
@import "../css/nullStyle";

// Подключение стилей страницы.
@import "github-repository-search.scss";

body {
    background-color: #252525;
    color: #dddddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    &::-webkit-scrollbar {
        width: 15px;
        height: 15px;
    }
    &::-webkit-scrollbar-thumb {
        border: 3px solid #00000000;
        border-radius: 7px;
        background-clip: padding-box;
        background-color: #404548;
    }
}

section {
    max-width: 1200px;
    margin: 0px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}